# ========================= Airflow =========================
AIRFLOW_UID=50000

# ======================= SSH secrets =======================
PROD_SERVER_USER=sshuser
PROD_SERVER_HOST=prod-ssh-server
PROD_PATH_TO_SOURCE=/home/
PROD_PATH_TO_DESTINATION=/opt/airflow/artefacts/pg/backups/
PROD_SSH_PORT=2222
PROD_SSH_KEY_PATH=/opt/keys/pg_server_key

# ========================= Postgres ========================
PROD_PORT=5434
